* {
    margin:0;
    padding: 0;
} 

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; 
}
body {
    font-family: 'Roboto', sans-serif;
}

main{
    width:100%;
    height:100%;
}
  
.scroll-down{
    position: absolute;
    bottom: 2rem;
    transform: translate(-50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mouse{
    width: 1rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-bottom: 0.1rem;
    display: flex;
}

.mouse span{
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
    display: block;
    border-radius: 50%;
    margin:auto;
    animation: move-wheel 2s linear infinite;
}
.container {
    display: flex;
    background:none;
    position: fixed;
    width: 100%;
    height: 60px;
    
}
.arrow span{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid transparent;
    border-right-color: black;
    border-bottom-color: black;
    transform: rotate(45deg);
    animation: arrow-down 2s alternate infinite;

}
@keyframes move-wheel{
    0%{
        opacity: 0;
        transform: translateY(-0.5rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0.5rem);
    }
}

@keyframes arrow-down{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        overflow: 1;
    }
}

.nav-links{
    display: flex;
    list-style: none;
    width:100%;
    height: 100%;
    background: none;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;

}

.nav-links li a{
    color: white ;
    text-decoration:none;
    font-size: 30px;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: black;
    font-weight: 900;
    margin: 0 1rem;
    padding: 0;

}

.nav-links li a:hover {
    color: #8db9e4;
}

nav .container ul li.active a{
    color: #8db9e4;
}

.namelogo{
    position:absolute;
    cursor: pointer;
    display: flex;
    justify-content:space-around;
    align-items: center;
    left:2%;
    top:0;
}

.logo {
    width: 90px;
    height: 80px;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
section h1 {
    font-size: 500%;
    margin-top: 6%;
}
section p {
    font-size: 100%;
}

.social {
    font-size: 1rem;
    width: 2rem;
    text-align: center;
    margin-left: 11%;
    display: flex;
    justify-content: space-between;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin {
    background: none;
    color: black;
    text-decoration: none;
   
  }
  .fa-github {
    background: none;
    color: black;
    text-decoration: none;
  }
 


#about h1{
    font-size: 500%;
    margin-top: 20%;
    text-align: center;
 
}

#about p{
    margin-left: 11%;
    text-align: left;

}

#about h1 span:hover{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 
                          8px 8px #f3ed9b,
                          20px 20px white;
}
.skills{
    width: 30%;
    margin-left: 10%;
    text-align: left;
    margin-top: 20%;
    list-style: none;
    display: block;
}
.skills li{
    margin: 20px 0;
    
}
.bar{
    background-color: black;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #f3ed9b;
}
.bar span{
    height: 2px;
    float: left;
    background: #f3ed9b;
}
.html.animate{
    width: 90%;
    animation: baranimate 1s;
}
.html{
    width: 0%;
}
.css{
    width: 80%;
}
.css.animate{
    width: 80%;
    animation: baranimate 1s;
}
.javascript{
    width: 70%;
}
.javascript.animate{
    width: 70%;
    animation: baranimate 1s;
}
@keyframes baranimate{
    0%{
        width: 0%;
    }

}
#contact {
    text-align: center;
    background-color:white;
}

.contact-form{
    height: 100%;
}
textarea{
    font-family: 'Roboto', sans-serif;
}

form{
    margin-top: 5%;
    transition: all 4s ease-in-out;
    display: flex;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    width: 100%;

}
.form-control{
    width:50%;
    background: transparent;
    font-size: 1rem;
    border-width: 1px;
    border-radius: 5px;
}
input{
    height: 45px;
}

form .submit{
    background-color: white;
    font-weight: 900;
    border-width: 2px;
    margin-top: 1%;
    width: 10%;
    font-size: 1rem;
    margin-left: 40%;
   
}

form .submit:hover{
    background-color: black;
    cursor: pointer;
    color: white ;
    text-decoration:none;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    
}

@media screen and (max-width: 768px){

    .scroll-down{
        display: none;
    }

    #about h1{
        font-size: 270%;
        margin-top: 40%;
    }
  
    section h1 {
        font-size: 270%;
        margin-top: 25%;
    }

    section p{
        font-size: 72%;
    }
    .form-control{
        width:50%;
        height: fit-content;
        background: transparent;
        font-size: 1rem;
        border-width: 1px;
        border-radius: 5px;
    }

    form .submit{
        background-color: white;
        font-weight: 800;
        border-width: 2px;
        width: 10%;
        font-size: 0.25rem;
       
    }
    a.success{
        font-size: 0.25rem;

    }
    a.error{
        font-size: 0.25rem;

    }
  
    .hamburger{
        position:absolute;
        cursor: pointer;
        right:15%;
        top:60%;
        transform:translate(-5%,-50%);
        z-index: 2;
    }

    .line1, .line2, .line3 {
        width: 35px;
        height: 5px;
        background-color:white;
        margin: 6px 0;
        outline: 2px solid black;
    }
    
    /* Rotate first bar */
    .change .line1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    /* Fade out the second bar */
    .change .line2 {
        opacity: 0;
    }
    
    /* Rotate last bar */
    .change .line3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
   
    .nav-links{
        position: fixed;
        background-color: #f39677;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        clip-path:circle(100px at 90% -10%);
        -webkit-clip-path:circle(100px at 95% -50%);
        transition: all 1s ease-out;

    }
    
    .nav-links.open{

        clip-path:circle(1700px at 90% -10%);
        -webkit-clip-path:circle(1700px at 90% -10%);
        pointer-events: all;
    }

    
    .nav-links:hover{
        background-color:#f3ed9b;
    }
    .logo {
        width: 60px;
        height: 50px;
    
        
    }

    .namelogo{
        position:absolute;
        cursor: pointer;
        display: flex;
        justify-content:space-around;
        align-items: center;
        left:10%;
        top:25%;
        
    
    }
}